In [1]:
print("Hello word")

Hello word

## my first notebook

In [2]:
1+1

2

In [1]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
                Job_role = c("Manager", "Team Lead", "Developer" )
               )
print(df)

NameError: name 'data' is not defined